* {
    font-family: "VT323", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(fondopokemon.jpg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pokecontainer{
    max-width: 50vw;
}